body {
    background-color: lightblue;
}

h1 {
    color: blue;
}

input.search_pheno{
	position:absolute;
	left:10em;
	top:10em;
	width:30em;
	height:20em;
}

button.search_button{
	position:absolute;
	left:35em;
	top:31em;
	width:5em;
	height:3em;
}